/*Beginning of Generator container*/
div.generator {
  height: 100%;
  width: 100%;
  background-color: #cccccc;
  text-align: center;
  border-radius: 12px;
}

/*Green Generate Random number button*/
.button {
  background-color: #00997d;
  /* Green */
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.button {
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
}

.button:hover {
  background-color: white;
  color: #00997d;
  /* Green */
  border-color: #00997d;
  /* Green */
}

/* Body of HTML*/
body {
  background-color: #00997d;
  /* Green */
  font-family: sans-serif;
}

/*Top navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-weight: bold;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #00997d;
  /* Green */
}

/*Table for Results*/
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #00997d;
  color: white;
}

/*Dropdown Button to choose range of drawings*/
.dropbtn {
  background-color: #00997d;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #cccccc
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00997d;
}
